* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: medium;
}

body {
  max-width: 100vh;
  margin: 0 auto;
  background-color: rgba(56, 104, 56, 0.904);
}

#principal {
  max-height: 100vh;
  background-color: whitesmoke;
  width: 100vmin;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 30px 20px;
  border-radius: 8px;
}

#grid-options {
  display: flex;
  justify-content: space-evenly;
  text-indent: 14%;
}

#options {
  background-color: rgba(56, 104, 56, 0.904);
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #000000;
}

#paint-options {
  display: flex;
  margin-top: 10px;
  justify-content: space-evenly;
}

button {
  background-color: rgb(245, 248, 245);
  border: none;
  border-radius: 5px;
  padding: 5px;
}

input {
  cursor: pointer;
}

button {
  cursor: pointer;
  border: 1px solid #000000;
}

input[type='color'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  height: 35px;
  border: none;
}

input[type="color"]::-webkit-color-swatch {
  border-radius: 8px;
  border: 1px solid #000000;
}

input[type="color"]::-moz-color-swatch {
  border-radius: 8px;
}

#grid-main {
  display: grid;
  justify-content: center;
  margin-top: 20px;
}

.div-row {
  display: flex;
}

h1 {
  margin-bottom: 2%;
  text-align: center;
  font-size: 200%;
}